main {
    width: 100%;
    
    text-align: center;
    background: #f6f6f6;
}

main label, main input[type="text"] {
    display: block;
}


main input[type="text"], main input[type="button"] {
    text-align: center;
    width: 150px;
    margin: 0.5rem auto ;
}
input[type="button"] {
    background: gray;
    border: 2px solid gray;

}
main input[type="button"]:hover{
    background-color: #9a9a9a;
    border-color: #9a9a9a;
}
main input[type="button"]:active{
    background: gray;
    border-color: gray;
}

#daysBtn, #hoursBtn, #minutesBtn, #secondsBtn {
    width: 150px;
    border-radius: 4px;
    padding: 4px 9px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
